[defaults]
inventory = inventory/hosts.yml
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections:~/.local/share/pipx/venvs/ansible/lib/python3.14/site-packages
host_key_checking = False
retry_files_enabled = False
timeout = 30

[persistent_connection]
connect_timeout = 60
command_timeout = 60
